<mat-list>
  <ng-container *ngFor="let product of products; let last = last; index as i">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <img mat-list-avatar src="{{product.imageUrl}}" alt="{{ product.name }}" class="avatar">
          <h3 matLine class="title">{{ product.name }}</h3>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <!-- Additional content inside the expansion panel if needed -->
      <p class="description">{{ product.description }}</p>
    </mat-expansion-panel>

    <mat-divider *ngIf="!last"></mat-divider>
  </ng-container>
</mat-list>
